<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        {{#if nick}}
		<title>{{nick}} - Evento TragaFortres</title>
		{{else}}
		<title>Evento TragaTragaFortres</title>
		{{/if}}
        <meta property="og:title" content="Evento TragaTragaFortres 2021">
        <meta property="og:description" content="Participa en el evento TragaTragaFortres , Haciendo Click Aqui">
        <meta property="og:image" content="/static/img/fbshare.jpg">
        <meta property="og:title" content="Evento TragaTragaFortres 2021"/>
        <meta property="og:type" content="Evento"/>
        <meta property="og:url" content="https://thorbound.com/"/>
        <meta property="og:image" content="/static/img//fbshare.jpg"/>
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">        
        <style type="text/css">
            body {
                background: #00b7b7;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }

            #ads1 {
                position: absolute;
                z-index: 1;
                margin: 20px 0px 0px 488px;
                width: 728px;
                height: 90px;
                background-color: #000;
            }

            #ads2 {
                position: absolute;
                z-index: 1;
                margin: 130px 0px 0px 966px;
                width: 250px;
                height: 600px;
                background-color: #FFF;
            }

            #ads3 {
                position: absolute;
                z-index: 1;
                margin: 820px 0px 0px 125px;
                width: 728px;
                height: 90px;
                background-color: #FFF;
            }

            #ads4 {
                position: absolute;
                z-index: 1;
                margin: 820px 0px 0px 880px;
                width: 336px;
                height: 280px;
                background-color: #FFF;
            }

            #logo {
                position: absolute;
                z-index: 1;
                margin: 80px 0px 0px 125px;
                width: 241px;
                height: 208px;
            }

            #premio {
                position: absolute;
                z-index: 1;
                margin: 300px 0px 0px 125px;
                width: 241px;
                height: 208px;
            }

            #evento {
                position: absolute;
                z-index: 1;
                margin: 130px 0px 0px 412px;
                width: 505px;
                height: 629px;
                background-color: #fff;
            }

            #comentario {
                position: absolute;
                z-index: 1;
                margin: 930px 0px 0px 125px;
                width: 728px;
                background-color: #fff;
            }

            #container {
                background-image: url(/static/img/game.png);
                background-repeat: no-repeat;
                width: 505px;
                height: 629px;
            }

            #img1 {
                margin: 277px 0px 0px 43px;
                position: absolute;
            }

            #img2 {
                margin: 277px 0px 0px 200px;
                position: absolute;
            }

            #img3 {
                margin: 277px 0px 0px 357px;
                position: absolute;
            }

            #push {
                margin: 537px 0px 0px 350px;
                position: absolute;
            }

            #points {
                margin: 565px 0px 0px 296px;
                position: absolute;
            }

            #info {
                margin: 560px 0px 0px 13px;
                position: absolute;
            }

            .info {
                border: 0px;
                position: relative;
                width: 270px;
                height: 21px;
                font-family: Verdana, Geneva, sans-serif;
                font-size: 20px;
                background-color: transparent;
                color: #fff;
                text-align: center;
                font-weight: bold;
            }

            #mas {
                margin: 560px 0px 0px 28px;
                width: 235;
                height: 28;
                position: absolute;
                cursor: pointer;
            }

            #ganadores {
                margin: 5px 0px 0px 8px;
                width: 400;
                height: 24;
                position: absolute;
            }

            #overlay {
                visibility: hidden;
                background-image: url(/static/img/gamebg.png);
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                text-align: center;
                z-index: 1000;
            }

            #overlay2 {
                visibility: hidden;
                background-image: url(/static/img/gamebg.png);
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                text-align: center;
                z-index: 1000;
            }

            #mensj2 {
                width: 461px;
                height: 344px;
                margin-left: 5px;
                margin-top: 155px;
                background-color: #ff8a00;
                border: 2px solid #000;
                padding: 15px;
                text-align: center;
            }

            #mensj {
                width: 300px;
                margin-left: 100px;
                margin-top: 160px;
                background-color: #00b7b7;
                border: 3px solid #000;
                padding: 15px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div id="ads1">
            <a href="https://thorbound.com">
                <img src="/static/img/ads2.png" title="Portadas"/>
            </a>
        </div>
        <div id="ads2">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9053105327574688" data-ad-slot="2679803703" data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div id="ads3">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-9053105327574688" data-ad-slot="1203070502"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div id="ads4">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px" data-ad-client="ca-pub-9053105327574688" data-ad-slot="8726337307"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div id="logo">
            <img src="/static/img/logo.png"/>
        </div>
        <div id="premio">
            <img src="/static/img/premios.png"/>
        </div>
</div>
<div id="evento">
    <SCRIPT LANGUAGE=JavaScript>
        function inicio() {
            decimas = 0;
            nAleatorio = 0;
            noRepetir1 = -1;
            noRepetir2 = -1;
            noRepetir3 = -1;
            imagen1 = 0;
            imagen2 = 0;
            imagen3 = 0;
            document.getElementById("boton").disabled = true;
            restoCredito();
            visualizo()
        }
        function visualizo() {
            decimas += 1;
            if (decimas < 20) {
                nAleatorio = Math.floor(Math.random() * (8 - 1)) + 1;
                if (nAleatorio == noRepetir1) {
                    nAleatorio -= 1;
                    if (nAleatorio < 0) {
                        nAleatorio += 1
                    }
                    document.getElementById("IMAGEN1").src = Imagenes[nAleatorio];
                    imagen1 = nAleatorio
                } else {
                    document.getElementById("IMAGEN1").src = Imagenes[nAleatorio];
                    imagen1 = nAleatorio
                }
                noRepetir1 = nAleatorio
            }
            if (decimas < 30) {
                nAleatorio = Math.floor(Math.random() * (8 - 1)) + 1;
                if (nAleatorio == noRepetir2) {
                    nAleatorio -= 1;
                    if (nAleatorio < 0) {
                        nAleatorio += 1
                    }
                    document.getElementById("IMAGEN2").src = Imagenes[nAleatorio];
                    imagen2 = nAleatorio
                } else {
                    document.getElementById("IMAGEN2").src = Imagenes[nAleatorio];
                    imagen2 = nAleatorio
                }
                noRepetir2 = nAleatorio
            }
            if (decimas < 40) {
                nAleatorio = Math.floor(Math.random() * (8 - 1)) + 1;
                if (nAleatorio == noRepetir3) {
                    nAleatorio -= 1;
                    if (nAleatorio < 0) {
                        nAleatorio += 1
                    }
                    document.getElementById("IMAGEN3").src = Imagenes[nAleatorio];
                    imagen3 = nAleatorio
                } else {
                    document.getElementById("IMAGEN3").src = Imagenes[nAleatorio];
                    imagen3 = nAleatorio
                }
                noRepetir3 = nAleatorio;
                setTimeout("visualizo()", 70)
            } else {
                if (document.getElementById("CREDITO").value == 0) {
                    document.getElementById("boton").disabled = true;
                    document.getElementById("boton").title = "Te quedastes sin Puntos :("
                } else if (document.getElementById("CREDITO").value < 0) {
                    document.getElementById("boton").disabled = true
                } else if (document.getElementById("CREDITO").value > 5) {
                    document.getElementById("boton").disabled = true;
                    document.getElementById("boton").title = "La proxima que hagas eso TE BANEO!"
                } else {
                    document.getElementById("boton").disabled = false
                }
                premio(imagen1, imagen2, imagen3)
            }
        }
        function msjresultado() {
            el = document.getElementById("overlay");
            el.style.visibility = el.style.visibility == "visible" ? "hidden" : "visible"
        }
        function msjprev() {
            el = document.getElementById("overlay2");
            el.style.visibility = el.style.visibility == "visible" ? "hidden" : "visible"
        }
        function unloadScrollBars() {
            document.documentElement.style.overflow = "hidden";
            document.body.scroll = "no"
        }
        function restoCredito() {
            document.getElementById("CREDITO").value -= 1
        }
        function premio(e, t, n) {
            if (e == 1 && e == t && t == n) {
                msjresultado()
            }
            if (e == 2 && e == t && t == n) {
                msjresultado()
            }
            if (e == 3 && e == t && t == n) {
                msjresultado()
            }
            if (e == 4 && e == t && t == n) {
                msjresultado()
            }
            if (e == 5 && e == t && t == n) {
                msjresultado()
            }
            if (e == 6 && e == t && t == n) {
                msjresultado()
            }
            if (e == 7 && e == t && t == n) {
                msjresultado()
            }
            if (e == 8 && e == t && t == n) {
                msjresultado()
            }
        }
        var decimas = 0;
        var nAleatorio = 0;
        var Imagenes = new Array;
        var noRepetir1 = -1;
        var noRepetir2 = -1;
        var noRepetir3 = -1;
        var imagen1 = 0;
        var imagen2 = 0;
        var imagen3 = 0;
        Imagenes[0] = "/static/img/1.png";
        Imagenes[1] = "/static/img/2.png";
        Imagenes[2] = "/static/img/3.png";
        Imagenes[3] = "/static/img/4.png";
        Imagenes[4] = "/static/img/5.png";
        Imagenes[5] = "/static/img/6.png";
        Imagenes[6] = "/static/img/7.png";
        Imagenes[7] = "/static/img/8.png"
    </script>
    <div id="container">
        <div id="ganadores">
            <font style="color:#FFF; font-family:Verdana, Geneva, sans-serif; font-size:12px; font-weight:bold">{{nick}} THORBOUND TE BRINDA LA SUERTE</font>
        </div>
        <div id="img1">
            <img id="IMAGEN1" name="IMAGEN1" src="/static/img/3.png" height="180" width="111" border=0>
        </div>
        <div id="img2">
            <img id="IMAGEN2" name="IMAGEN2" src="/static/img/1.png" height="180px" width="111px" border=0>
        </div>
        <div id="img3">
            <img id="IMAGEN3" name="IMAGEN3" src="/static/img/7.png" height="180px" width="111px" border=0>
        </div>
        <div id="push">
            <input type="button" id="boton" name="boton" value="GIRAR" style="width:115px; height:36px; cursor:pointer; background-color:transparent; border:0px; font-family:Verdana, Geneva, sans-serif; font-weight:bold; font-size:30px" onClick="{{estado}}()"/>
        </div>
        <div id="points">
            <input type="text" id="CREDITO" value="5" style="border:0px; position:relative; width:36px; height:21px;
				font-family:Goudy Stout; font-size:15px; 		background-color: transparent; color:#fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.65); text-align:center;" readonly/>
        </div>
        <div id="mas">
            <a href="https://thorbound.com/event#" target="_parent">
                <img src="/static/img//btn_mas.png" title="Obtener punto!"/>
            </a>
        </div>
    </div>
    <div id="overlay">
        <div id="mensj">
            <img src="/static/img/win.png">
            <br/>
            <h3>
                &iexcl;GANASTE<span>!</span>
            </h3>
            <br/>
			<form method="POST" action="event" id="FormPost">
				<p style="background:#c1f0ff;color:#000;line-height:24px;padding:5px;margin-top:20px; display:inline-block">
					Para poder reclamar tu premio presione el botón reclamar.
					<br>{{nick}} gracias por participar
					</p>
					<input type="submit" value="PREMIO" id="PostBtn" name="SAVE">
	        </form>
			
            <br/>
            <div align="center">
                <img src="/static/img/vale.png"/>
            </div>
        </div>
    </div>
    <div id="overlay2">
        <div id="mensj2">
            <a href="/">
                <img src="/static/img/aviso.png">
            </a>
            <br/>
        </div>
    </div>
    <center>
        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsharkgun.net&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
        <iframe src="//www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fsharkgun.net&amp;width&amp;height=80&amp;colorscheme=light&amp;layout=button&amp;show_faces=true&amp;appId=1429387114019543" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
    </center>
</div>
<div id="comentario">
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id))
                return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=413094539120054&version=v2.12";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="fb-comments" data-href="http://sharkgun.net" data-width="728" data-numposts="5" data-colorscheme="light"></div>
</div>
<script>
    var DADrccolor = "#F1F1F1";
    var DADrcimage = "https://lh5.googleusercontent.com/-70ZyK7Gt4XE/VI8sxCvJGII/AAAAAAAAGd0/RZA9e6iSJBM/s300/superheroe.png";
</script>
<script type="text/javascript" src="http://yourjavascript.com/2122535051/antirightclick.js"></script>
</body></html>
